.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}

.header-nav {
  transition: .3s;
}

.header-nav-list {
  display: flex;
  align-items: center;

  > li {
    font-size: 20px;
    font-family: $font-secondary;

    a {
      transition: .3s;

      &:hover {
        color: $color-primary;
      }
    }

    &:not(:last-child) {
      padding-right: 40px;
    }
  }

  .get-started-btn {
    margin-right: 40px;
  }
}

.logo {
  max-width: 232px;
  width: 100%;

  img {
    width: 100%;
  }
}

.dark-header {
  background-color: $color-black;

  ul {
    color: $color-white;
  }

  .with-dropdown {
    ul {
      color: $color-text;
    }
  }
}

.burger-menu {
  display: none;
  cursor: pointer;
}
