.small-hero {
  background-color: $color-primary;
}

.small-hero-content {
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-hero-text {
  max-width: 1060px;
  width: 100%;
  text-align: center;

  h1 {
    padding-bottom: 40px;
  }
}