@media screen and (max-width: 1600px) {
  .header-content {
    padding: 12px 0;
  }
}

@media screen and (max-width: 1280px) {
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 32px;
  }
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: inherit !important;
  }
  .h2 {
    font-size: 24px;
  }
}