@media (max-width: 1600px) {
  .header-content {
    padding: 12px 0;
  }
  .h2 {
    font-size: 40px;
  }
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .calculator-page h1 {
    padding: 10px 0 12px;
  }
  .sidebar-tab-content {
    padding: 40px 0;
  }
  .calculator-content {
   height: calc(100vh - 272px)
  }
  .sidebar-tab-content {
    li {
      margin-bottom: 12px;
    }
  }
  .calculator-list-item {
   &:not(:last-child) {
     padding-bottom: 60px;
   }
  }
}