/*fonts*/
$font-primary: "Cabin";
$font-secondary: "Aesthet Nova";


/*colors*/
$color-primary: #FCC425;
$color-white: #fff;
$color-black: #000;
$color-text: #0D0D0D;
$color-text-light: #9E9E9E;
$color-range: #EFF3F5;
$color-light: #F3F8FB;
$color-error: #B50000;
$color-grey: #dcdbdb;
$color-gradient: linear-gradient(90deg, #FCC425 0%, #FCA625 100%);
$color-gradient-primary: linear-gradient(0deg, #FCC425, #FCC425);
$color-grey-gradient: linear-gradient(0deg, #EFF3F5, #EFF3F5);
$color-light-gradient: linear-gradient(96deg, #FFFFFF 0%, #E7E7E7 100%);
$color-bg-from-left: linear-gradient(90deg, rgba(14, 14, 14, 0.98) -2.03%, rgba(0, 0, 0, 0) 100%);
$color-bg-from-bottom: linear-gradient(360deg, rgba(14, 14, 14, 0.98) -4.37%, rgba(0, 0, 0, 0) 60%);
$color-bg-from-bottom: linear-gradient(360deg, rgba(14, 14, 14, 0.98) -4.37%, rgba(0, 0, 0, 0) 60%);