/*fonts*/
$font-primary: "Cabin";
$font-secondary: "Aesthet Nova";


/*colors*/
$color-primary: #FCC425;
$color-white: #fff;
$color-black: #000;
$color-text: #0D0D0D;
$color-text-light: #9E9E9E;
$color-range: #EFF3F5;
$color-error: #B50000;
$color-gradient: linear-gradient(270deg, #FCC425 0%, #FCA625 100%);